@using Microsoft.AspNetCore.Components.Web
@using WebTerminal.WebApp.Static
<div class="terminal">
    <div class="output">
        @if (Terminal.Output != null)
        {
            @(new MarkupString(Terminal.Output
                .Replace("\n", "<br>")
                .Replace("\t", "&#9;")
                .Replace(" ", "&nbsp;")))
        }
    </div>
    <div class="input-container">
        <div class="no-select">$ </div>
        <input type="text" class="input" @bind="Input" @bind:event="oninput" @onkeypress="OnInputKeyPress"
               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
    </div>
</div>

@code {
    private string Input { get; set; }

    //private void WriteLine(string text) => Output += $"{text}<br>";

    private void OnInputKeyPress(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;
        
        //WriteLine($"$ {Input}");
        Terminal.RunCommand(Input);
        Input = "";
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Terminal.OnAfterOutput += async () => await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeTerminalClicks");
        }
        
        await JS.InvokeVoidAsync("scrollToBottom");
    }

}